# Prática 09 – Controle de Gastos Pessoais

## Objetivo
Praticar todas as estruturas de dados (listas, dicionários, tuplas, sets), programação funcional completa e manipulação de arquivos.

## Dataset
`datasets/gastos_pessoais.csv`

**Colunas:** Data, Descricao, Categoria, Valor, Tipo, Forma_Pagamento, Essencial

## Referências do Curso
- **Notebook:** `Programacao_Intensiva_Ciencia_de_Dados.ipynb`
  - Seção 1.1 – Tipos de Dados e Operações Básicas (operações com floats)
  - Seção 1.2 – Estruturas de Dados Fundamentais (TODAS: listas, dicionários, tuplas, sets)
  - Seção 1.3 – Estruturas de Controle (for, while, condicionais)
  - Seção 1.4 – Compreensões e Programação Funcional (TODAS: comprehensions, lambda, map, filter, reduce)
  - Seção 1.5 – Funções Avançadas (todos os tipos de argumentos)
  - Seção 1.6 – Manipulação de Arquivos (leitura e escrita)
- **Documentação:** `documentacao_completa.md`
  - Todas as seções do Capítulo 2 são relevantes

## Tarefas

### Nível Básico
1. Ler o CSV e armazenar em uma lista de dicionários
2. Calcular o gasto total e o gasto médio por transação
3. Criar um set com todas as categorias e formas de pagamento únicas
4. Separar gastos essenciais e não essenciais em duas listas

In [ ]:
import pandas as pd


db = pd.read_csv("datasets/gastos_pessoais.csv")

In [2]:
db.head()

,Data,Descricao,Categoria,Valor,Tipo,Forma_Pagamento,Essencial
0,2025-03-22,Material escolar,Educacao,64.47,Variavel,Dinheiro,Sim
1,2025-02-14,Material escolar,Educacao,82.86,Variavel,Pix,Sim
2,2025-03-31,Academia,Saude,73.43,Fixo,Boleto,Nao
3,2025-01-24,Acessorios,Vestuario,57.88,Variavel,Cartao,Nao
4,2025-02-08,Acessorios,Vestuario,31.55,Variavel,Boleto,Nao

In [3]:
db["Valor"].sum()

np.float64(15918.96)

In [4]:
db["Valor"].mean()

np.float64(318.37919999999997)

In [15]:
db["Categoria"].unique()
db["Forma_Pagamento"].unique()

<StringArray>
['Dinheiro', 'Pix', 'Boleto', 'Cartao', 'Debito Automatico']
Length: 5, dtype: str

In [18]:
essencial = db[db["Essencial"] == "Sim"]
nao_essencial = db[db["Essencial"] == "Nao"]

### Nível Intermediário
5. Criar um dicionário de gastos por categoria: `{categoria: valor_total}`
6. Usando `filter`, encontrar todos os gastos variáveis acima de R$100
7. Usando `map`, criar uma lista de strings formatadas: "Data - Descricao: R$ Valor"
8. Usando `reduce`, calcular o total de gastos (soma acumulada)

In [19]:
db.groupby("Categoria")["Valor"].sum()

Categoria
Alimentacao    1249.76
Educacao       3621.67
Lazer          2357.14
Moradia        6300.74
Saude           462.08
Transporte     1260.99
Vestuario       666.58
Name: Valor, dtype: float64

In [20]:
db[db["Tipo"]=="Variavel"][db["Valor"]>100]

/tmp/ipykernel_28362/1552103328.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  db[db["Tipo"]=="Variavel"][db["Valor"]>100]

,Data,Descricao,Categoria,Valor,Tipo,Forma_Pagamento,Essencial
5,2025-01-08,Viagem fim de semana,Lazer,780.67,Variavel,Debito Automatico,Nao
12,2025-03-03,Manutencao veiculo,Transporte,381.51,Variavel,Boleto,Sim
17,2025-03-14,Roupas,Vestuario,235.31,Variavel,Dinheiro,Nao
18,2025-02-03,Viagem fim de semana,Lazer,377.12,Variavel,Cartao,Nao
22,2025-01-22,Manutencao veiculo,Transporte,295.33,Variavel,Debito Automatico,Sim
24,2025-03-27,Supermercado mensal,Alimentacao,476.82,Variavel,Cartao,Sim
30,2025-01-23,Supermercado mensal,Alimentacao,538.41,Variavel,Cartao,Sim
31,2025-01-25,Bar com amigos,Lazer,103.37,Variavel,Pix,Nao
37,2025-03-24,Calcados,Vestuario,261.07,Variavel,Dinheiro,Nao
41,2025-01-03,Manutencao veiculo,Transporte,157.68,Variavel,Boleto,Sim
46,2025-02-13,Viagem fim de semana,Lazer,781.35,Variavel,Pix,Nao
47,2025-01-04,Curso online,Educacao,163.20,Variavel,Boleto,Nao
49,2025-02-25,Manutencao veiculo,Transporte,364.27,Variavel,Dinheiro,Sim

### Nível Avançado
9. Implementar uma função `analisar_gastos(dados, **filtros)` que aceite filtros como categoria, tipo, essencial, valor_min, valor_max
10. Criar um orçamento mensal: calcular total por categoria e comparar com limites predefinidos (dicionário de limites)
11. Gerar uma tupla nomeada ou tupla simples para cada resumo de categoria: (categoria, total, media, quantidade, percentual_do_total)
12. Gerar relatório completo em arquivo `controle_financeiro.txt` com: resumo geral, gastos por categoria, gastos fixos vs variáveis, essenciais vs não essenciais, forma de pagamento mais usada

In [21]:

def analisar_gastos(dados: pd.DataFrame, **filtros) -> pd.DataFrame:

    df = dados.copy()

    if "categoria" in filtros:
        df = df[df["Categoria"] == filtros["categoria"]]

    if "tipo" in filtros:
        df = df[df["Tipo"] == filtros["tipo"]]

    if "essencial" in filtros:
        df = df[df["Essencial"] == filtros["essencial"]]

    if "valor_min" in filtros:
        df = df[df["Valor"] >= filtros["valor_min"]]

    if "valor_max" in filtros:
        df = df[df["Valor"] <= filtros["valor_max"]]

    return df

In [22]:
analisar_gastos(db, categoria="Educacao", valor_min=50)

,Data,Descricao,Categoria,Valor,Tipo,Forma_Pagamento,Essencial
0,2025-03-22,Material escolar,Educacao,64.47,Variavel,Dinheiro,Sim
1,2025-02-14,Material escolar,Educacao,82.86,Variavel,Pix,Sim
7,2025-02-12,Mensalidade curso,Educacao,1867.78,Fixo,Pix,Sim
10,2025-03-17,Livros,Educacao,87.53,Variavel,Pix,Nao
21,2025-03-24,Material escolar,Educacao,56.87,Variavel,Pix,Sim
43,2025-02-19,Curso online,Educacao,95.25,Variavel,Cartao,Nao
44,2025-03-30,Mensalidade curso,Educacao,1151.35,Fixo,Pix,Sim
47,2025-01-04,Curso online,Educacao,163.20,Variavel,Boleto,Nao

In [23]:
def gerar_relatorio_financeiro(dados: pd.DataFrame,
                               nome_arquivo: str = "relatorio_pratica_09.txt"):
    """
    Gera relatório financeiro completo em arquivo .txt
    """

    total_gasto = dados["Valor"].sum()
    media_gasto = dados["Valor"].mean()
    total_registros = len(dados)

    # Gastos por categoria
    gastos_categoria = dados.groupby("Categoria")["Valor"].sum().sort_values(ascending=False)

    # Fixos vs Variáveis
    gastos_tipo = dados.groupby("Tipo")["Valor"].sum()

    # Essenciais vs Não essenciais
    gastos_essencial = dados.groupby("Essencial")["Valor"].sum()

    # Forma de pagamento mais usada
    forma_mais_usada = dados["Forma_Pagamento"].value_counts().idxmax()

    with open(nome_arquivo, "w", encoding="utf-8") as f:
        f.write("===== CONTROLE FINANCEIRO =====\n\n")

        # Resumo geral
        f.write("Resumo Geral\n")
        f.write(f"Total gasto: R$ {total_gasto:.2f}\n")
        f.write(f"Média por gasto: R$ {media_gasto:.2f}\n")
        f.write(f"Quantidade de registros: {total_registros}\n\n")

        # Gastos por categoria
        f.write("Gastos por Categoria\n")
        for categoria, valor in gastos_categoria.items():
            f.write(f" - {categoria}: R$ {valor:.2f}\n")
        f.write("\n")

        # Fixos vs Variáveis
        f.write("Gastos Fixos vs Variáveis\n")
        for tipo, valor in gastos_tipo.items():
            f.write(f" - {tipo}: R$ {valor:.2f}\n")
        f.write("\n")

        # Essenciais vs Não essenciais
        f.write("Essenciais vs Não Essenciais\n")
        for ess, valor in gastos_essencial.items():
            f.write(f" - {ess}: R$ {valor:.2f}\n")
        f.write("\n")

        # Forma de pagamento mais usada
        f.write("Forma de pagamento mais utilizada\n")
        f.write(f" - {forma_mais_usada}\n")

    print(f"Arquivo '{nome_arquivo}' gerado com sucesso!")

In [24]:
gerar_relatorio_financeiro(db)

Arquivo 'relatorio_pratica_09.txt' gerado com sucesso!