# Prática 03 – Análise de Temperaturas

## Objetivo
Praticar estruturas de controle (for, while, if/elif/else), funções com argumentos padrão e operações com tuplas.

## Dataset
`datasets/temperaturas_cidades.csv`

**Colunas:** Cidade, Estado, Data, Temp_Min, Temp_Max, Umidade, Choveu

## Referências do Curso
- **Notebook:** `Programacao_Intensiva_Ciencia_de_Dados.ipynb`
  - Seção 1.3 – Estruturas de Controle (for, while, if/elif/else)
  - Seção 1.2 – Estruturas de Dados Fundamentais (tuplas para coordenadas, sets para cidades únicas)
  - Seção 1.5 – Funções Avançadas (argumentos padrão, docstrings)
- **Documentação:** `documentacao_completa.md`
  - Seção 2.2 – Tuplas e Sets
  - Seção 2.3 – Funções (argumentos padrão, *args, **kwargs)

## Tarefas

### Nível Básico
1. Ler o CSV e armazenar os dados em uma lista de listas
2. Usando um loop `for`, calcular a amplitude térmica (Temp_Max - Temp_Min) de cada registro
3. Usando `if/elif/else`, classificar cada dia como: "Frio" (max < 22), "Agradável" (22-30), "Quente" (> 30)
4. Contar quantos dias choveu e quantos não choveu

In [2]:
import pandas as pd

db = pd.read_csv("datasets/temperaturas_cidades.csv")

In [4]:
db.head()

         Cidade Estado        Data  Temp_Min  Temp_Max  Umidade Choveu
0  Porto Alegre     RS  2025-01-17      21.2      26.0       57    Nao
1        Manaus     AM  2025-02-17      17.2      32.2       44    Sim
2         Belem     PA  2025-01-14      22.5      39.0       78    Nao
3        Recife     PE  2025-01-10      22.7      37.6       61    Sim
4         Belem     PA  2025-03-29      22.8      27.5       35    Nao

In [16]:
for temp_min, temp_max in zip(db["Temp_Min"], db["Temp_Max"]):
    amplitude_termica = temp_max - temp_min
    #print(f"Amplitude térmica: {amplitude_termica:.1f}")

    '''if amplitude_termica < 22:
        print("Clima Frio")
    elif 22 <= amplitude_termica < 30:
        print("Clima Agradável")
    else:
        print("Clima Quente")
'''


choveu = 0
nao_choveu = 0

for dia in db["Choveu"]:
    if dia == "Sim":
        choveu += 1
    else:
        nao_choveu += 1

print(f"Choveu: {choveu}")
print(f"Não choveu: {nao_choveu}")

Choveu: 23
Não choveu: 22

### Nível Intermediário
5. Criar um set com todas as cidades únicas do dataset
6. Usar tuplas para armazenar pares (cidade, temperatura_media) e ordená-los
7. Criar uma função `estatisticas_cidade(dados, cidade, metrica='media')` com argumento padrão que calcule média, máxima ou mínima da temperatura para uma cidade
8. Usando um loop `while`, encontrar a primeira sequência de 3 dias consecutivos sem chuva

In [19]:
Cidades = set(db["Cidade"])
print(f"Cidades: {Cidades}")

Cidades: {'Fortaleza', 'Sao Paulo', 'Teresina', 'Recife', 'Maceio', 'Belem', 'Campinas', 'Sao Luis', 'Belo Horizonte', 'Manaus', 'Salvador', 'Rio de Janeiro', 'Joao Pessoa', 'Goiania', 'Brasilia', 'Curitiba', 'Florianopolis', 'Porto Alegre'}

In [25]:
cidade_temperaturas: list[tuple[str,float]] = []
for cidade, temp_max,temp_min in zip(db["Cidade"], db["Temp_Max"], db["Temp_Min"]):
    temp_media = round((temp_max + temp_min) / 2, 1)
    cidade_temperaturas.append((cidade, temp_media))

ordenado = sorted(cidade_temperaturas, key=lambda x: x[1], reverse=True)