# Prática 10 – Análise de Dados Clínicos

## Objetivo
Praticar funções com múltiplos retornos, manipulação de dados numéricos, classificação condicional e geração de relatórios.

## Dataset
`datasets/pacientes_clinica.csv`

**Colunas:** ID, Nome, Idade, Sexo, Tipo_Sanguineo, Pressao_Sistolica, Pressao_Diastolica, Glicemia, IMC, Fumante

## Referências do Curso
- **Notebook:** `Programacao_Intensiva_Ciencia_de_Dados.ipynb`
  - Seção 1.1 – Tipos de Dados e Operações Básicas (operações com números decimais)
  - Seção 1.3 – Estruturas de Controle (if/elif/else para classificações clínicas)
  - Seção 1.5 – Funções Avançadas (funções com múltiplos retornos usando dicionário)
  - Seção 1.6 – Manipulação de Arquivos (geração de relatórios)
- **Documentação:** `documentacao_completa.md`
  - Seção 2.3 – Funções (retornos múltiplos, documentação)
  - Seção 2.4 – Programação Funcional (filter para triagem)

## Tarefas

### Nível Básico
1. Ler o CSV e armazenar os dados dos pacientes em estrutura adequada
2. Calcular a idade média dos pacientes e a distribuição por sexo
3. Contar quantos pacientes são fumantes
4. Encontrar a pressão sistólica máxima e mínima

In [1]:
import pandas as pd

db = pd.read_csv("datasets/pacientes_clinica.csv")
db.head()

,ID,Nome,Idade,Sexo,Tipo_Sanguineo,Pressao_Sistolica,Pressao_Diastolica,Glicemia,IMC,Fumante
0,1,Luciana Rocha,27,F,A-,124,69,157,33.1,Sim
1,2,Aline Correia,31,F,A-,90,69,173,24.6,Nao
2,3,Joao Araujo,73,M,O-,161,95,191,25.8,Sim
3,4,Enzo Lima,59,M,O+,91,69,165,25.3,Sim
4,5,Clara Rocha,84,F,B+,177,84,103,19.3,Nao

In [2]:
db.groupby("Sexo")["Idade"].mean()

Sexo
F    46.681818
M    57.611111
Name: Idade, dtype: float64

In [3]:
db["Fumante"].value_counts()

Fumante
Sim    22
Nao    18
Name: count, dtype: int64

In [4]:
db["Pressao_Sistolica"].max()

np.int64(180)

In [5]:
db["Pressao_Sistolica"].min()

np.int64(90)

### Nível Intermediário
5. Classificar cada paciente pelo IMC:
   - Abaixo do peso: IMC < 18.5
   - Normal: 18.5 ≤ IMC < 25
   - Sobrepeso: 25 ≤ IMC < 30
   - Obesidade: IMC ≥ 30
6. Classificar a pressão arterial:
   - Normal: sistólica < 120 E diastólica < 80
   - Elevada: sistólica 120-129 E diastólica < 80
   - Hipertensão Estágio 1: sistólica 130-139 OU diastólica 80-89
   - Hipertensão Estágio 2: sistólica ≥ 140 OU diastólica ≥ 90
7. Classificar a glicemia:
   - Normal: < 100
   - Pré-diabetes: 100-125
   - Diabetes: ≥ 126
8. Criar uma função `perfil_paciente(paciente)` que retorne um dicionário com todas as classificações

In [ ]:

def classificar_imc(imc):
    if imc < 18.5:
        return "Abaixo do peso"
    elif imc < 25:
        return "Peso normal"
    elif imc < 30:
        return "Sobrepeso"
    else:
        return "Obesidade"

db["IMC_classificacao"] = db["IMC"].apply(classificar_imc)

In [22]:
def classificar_pressao(pressao_sistolica, pressao_diastolica)->str:
    if pressao_sistolica < 120 and pressao_diastolica < 80:
        return "Pressão normal"
    elif pressao_sistolica < 130 and pressao_diastolica < 80:
        return "Pressão elevada"
    elif pressao_sistolica < 140 and pressao_diastolica < 90:
        return "Hipertensão grau 1"
    else:
        return "Hipertensão grau 2"

db["Classificarao_Pressao"] = db.apply(lambda row:
                                    classificar_pressao(row["Pressao_Sistolica"],
                                                        row["Pressao_Diastolica"]),
                                                        axis=1)

In [24]:
def classificar_glicemia(glicemia)->str:
    if glicemia < 100:
        return "Normal"
    elif glicemia < 126:
        return "Pré-diabetes"
    else:
        return "Diabetes"

db["Classificacao_Glicemia"] = db["Glicemia"].apply(classificar_glicemia)

In [25]:
db.head()

,ID,Nome,Idade,Sexo,Tipo_Sanguineo,Pressao_Sistolica,Pressao_Diastolica,Glicemia,IMC,Fumante,IMC_classificacao,Classificarao_Pressao,Classificacao_Glicemia
0,1,Luciana Rocha,27,F,A-,124,69,157,33.1,Sim,Obesidade,Pressão elevada,Diabetes
1,2,Aline Correia,31,F,A-,90,69,173,24.6,Nao,Peso normal,Pressão normal,Diabetes
2,3,Joao Araujo,73,M,O-,161,95,191,25.8,Sim,Sobrepeso,Hipertensão grau 2,Diabetes
3,4,Enzo Lima,59,M,O+,91,69,165,25.3,Sim,Sobrepeso,Pressão normal,Diabetes
4,5,Clara Rocha,84,F,B+,177,84,103,19.3,Nao,Peso normal,Hipertensão grau 2,Pré-diabetes

In [43]:
def perfil_paciente(nome):
    return db[db["Nome"]== nome][["Nome","IMC_classificacao","Classificarao_Pressao","Classificacao_Glicemia"]]

perfil_paciente("Aline Correia")

,Nome,IMC_classificacao,Classificarao_Pressao,Classificacao_Glicemia
1,Aline Correia,Peso normal,Pressão normal,Diabetes

### Nível Avançado
9. Usar `filter` para identificar pacientes em situação de risco (hipertensos + fumantes + IMC >= 30)
10. Calcular a distribuição de tipos sanguíneos e comparar com a distribuição brasileira típica
11. Criar uma função `triagem(dados, criterios_risco)` que receba critérios configuráveis e retorne pacientes que necessitam atenção
12. Gerar relatório `triagem_pacientes.txt` com: estatísticas gerais, classificação por faixa de risco, lista de pacientes prioritários

In [48]:
#resultado = db[db["Titulo"].str.contains(palavra, case=False, na=False)]
db[
    (db["Classificarao_Pressao"].str.contains("Hipertensão", case=False)) &
    (db["Fumante"] == "Sim") &
    (db["IMC"]>=30)
].reset_index()

,index,ID,Nome,Idade,Sexo,Tipo_Sanguineo,Pressao_Sistolica,Pressao_Diastolica,Glicemia,IMC,Fumante,IMC_classificacao,Classificarao_Pressao,Classificacao_Glicemia
0,7,8,Otavio Mendes,60,M,O-,132,87,226,39.4,Sim,Obesidade,Hipertensão grau 1,Diabetes
1,9,10,Tatiana Monteiro,66,F,AB+,140,83,89,38.4,Sim,Obesidade,Hipertensão grau 2,Normal
2,10,11,Livia Araujo,21,F,O-,180,73,172,35.1,Sim,Obesidade,Hipertensão grau 2,Diabetes
3,33,34,Leticia Monteiro,55,F,AB+,163,77,191,39.7,Sim,Obesidade,Hipertensão grau 2,Diabetes
4,36,37,Rodrigo Correia,76,M,O-,131,97,60,36.9,Sim,Obesidade,Hipertensão grau 2,Normal
5,38,39,Carla Ramos,34,F,O-,133,117,234,34.3,Sim,Obesidade,Hipertensão grau 2,Diabetes

In [49]:
distribuicao_base = (
    db["Tipo_Sanguineo"]
    .value_counts(normalize=True)
    .sort_index()
    * 100
)

print("Distribuição na base (%):")
print(distribuicao_base)

Distribuição na base (%):
Tipo_Sanguineo
A-     12.5
AB+    12.5
AB-    10.0
B+     22.5
B-      5.0
O+     17.5
O-     20.0
Name: proportion, dtype: float64

In [50]:
distribuicao_brasil = {
    "O+": 36,
    "O-": 9,
    "A+": 34,
    "A-": 6,
    "B+": 8,
    "B-": 2,
    "AB+": 3,
    "AB-": 1
}
dist_brasil = pd.Series(distribuicao_brasil)

comparacao = pd.DataFrame({
    "Base (%)": distribuicao_base,
    "Brasil (%)": dist_brasil
})

print(comparacao)

     Base (%)  Brasil (%)
A+        NaN          34
A-       12.5           6
AB+      12.5           3
AB-      10.0           1
B+       22.5           8
B-        5.0           2
O+       17.5          36
O-       20.0           9

In [51]:

def triagem(dados, criterios_risco):
    filtro = pd.Series(False, index=dados.index)

    # Pressão
    if "pressao" in criterios_risco:
        filtro |= dados["Classificarao_Pressao"].isin(criterios_risco["pressao"])

    # Glicemia
    if "glicemia" in criterios_risco:
        filtro |= dados["Classificacao_Glicemia"].isin(criterios_risco["glicemia"])

    # IMC
    if "imc" in criterios_risco:
        filtro |= dados["IMC_classificacao"].isin(criterios_risco["imc"])

    # Fumante
    if criterios_risco.get("fumante"):
        filtro |= dados["Fumante"] == "Sim"

    return dados[filtro]

In [52]:
criterios = {
    "pressao": ["Hipertensão grau 2"],
    "glicemia": ["Diabetes"],
    "imc": ["Obesidade"],
    "fumante": True
}

pacientes_risco = triagem(db, criterios)
print(pacientes_risco)

    ID               Nome  Idade Sexo Tipo_Sanguineo  Pressao_Sistolica  \
0    1      Luciana Rocha     27    F             A-                124
1    2      Aline Correia     31    F             A-                 90
2    3        Joao Araujo     73    M             O-                161
3    4          Enzo Lima     59    M             O+                 91
4    5        Clara Rocha     84    F             B+                177
5    6     Carlos Pereira     39    M             O+                125
6    7     Leonardo Pinto     43    M             O-                103
7    8      Otavio Mendes     60    M             O-                132
8    9    Murilo Carvalho     79    M            AB-                112
9   10   Tatiana Monteiro     66    F            AB+                140
10  11       Livia Araujo     21    F             O-                180
11  12        Luana Pinto     35    F            AB+                120
12  13     Camila Freitas     79    F             O+                158
13  14        Renata Melo     28    F             A-                121
14  15  Cristina Teixeira     73    F             A-                 91
15  16       Caio Andrade     82    M             B+                134
16  17   Beatriz Ferreira     36    F            AB-                129
17  18    Gustavo Freitas     75    M            AB-                 98
18  19     Henrique Costa     39    M             B-                156
19  20     Isabela Vieira     41    F             B+                171
20  21       Fabio Mendes     18    M             B-                116
22  23        Aline Moura     67    F             O+                165
23  24     Priscila Cunha     28    F             B+                130
24  25       Carlos Lopes     67    M             O+                166
26  27      Daniela Silva     80    F             B+                114
27  28       Arthur Nunes     74    M             O-                111
28  29    Rodrigo Martins     54    M             B+                148
29  30     Mariana Duarte     32    F            AB+                159
30  31        Helena Melo     45    F             O+                103
31  32         Paulo Lima     74    M             A-                120
33  34   Leticia Monteiro     55    F            AB+                163
34  35       Renato Souza     53    M             B+                179
35  36     Cristina Pinto     36    F            AB+                170
36  37    Rodrigo Correia     76    M             O-                131
38  39        Carla Ramos     34    F             O-                133
39  40      Sergio Santos     33    M             B+                146

    Pressao_Diastolica  Glicemia   IMC Fumante IMC_classificacao  \
0                   69       157  33.1     Sim         Obesidade
1                   69       173  24.6     Nao       Peso normal
2                   95       191  25.8     Sim         Sobrepeso
3                   69       165  25.3     Sim         Sobrepeso
4                   84       103  19.3     Nao       Peso normal
5                   86       136  27.6     Sim         Sobrepeso
6                   68       137  16.2     Nao    Abaixo do peso
7                   87       226  39.4     Sim         Obesidade
8                   85       141  23.0     Nao       Peso normal
9                   83        89  38.4     Sim         Obesidade
10                  73       172  35.1     Sim         Obesidade
11                  76       228  19.7     Nao       Peso normal
12                  92       237  26.0     Sim         Sobrepeso
13                 102       230  24.5     Sim       Peso normal
14                  63       126  21.3     Sim       Peso normal
15                  61       183  18.5     Nao       Peso normal
16                  81       176  34.8     Nao         Obesidade
17                  69        71  35.4     Sim         Obesidade
18                  71       201  19.8     Nao       Peso normal
19                 102       170  25.5     Sim         Sobrepeso
20                  77       240  35.4     Sim         Obesidade
22                  67       149  24.4     Nao       Peso normal
23                  67       121  23.3     Sim       Peso normal
24                  68       207  25.2     Sim         Sobrepeso
26                  84       203  28.1     Nao         Sobrepeso
27                  65       204  16.7     Sim    Abaixo do peso
28                  96       250  34.5     Nao         Obesidade
29                 112       153  29.0     Sim         Sobrepeso
30                  75       136  37.0     Sim         Obesidade
31                  73       248  30.1     Nao         Obesidade
33                  77       191  39.7     Sim         Obesidade
34                 115        93  22.0     Nao       Peso normal
35                  86       156  26.8     Sim         Sobrepeso
36                  97        60  36.9     Sim         Obesidade
38                 117       234  34.3     Sim         Obesidade
39                  89        60  39.8     Nao         Obesidade

   Classificarao_Pressao Classificacao_Glicemia
0        Pressão elevada               Diabetes
1         Pressão normal               Diabetes
2     Hipertensão grau 2               Diabetes
3         Pressão normal               Diabetes
4     Hipertensão grau 2           Pré-diabetes
5     Hipertensão grau 1               Diabetes
6         Pressão normal               Diabetes
7     Hipertensão grau 1               Diabetes
8     Hipertensão grau 1               Diabetes
9     Hipertensão grau 2                 Normal
10    Hipertensão grau 2               Diabetes
11       Pressão elevada               Diabetes
12    Hipertensão grau 2               Diabetes
13    Hipertensão grau 2               Diabetes
14        Pressão normal               Diabetes
15    Hipertensão grau 1               Diabetes
16    Hipertensão grau 1               Diabetes
17        Pressão normal                 Normal
18    Hipertensão grau 2               Diabetes
19    Hipertensão grau 2               Diabetes
20        Pressão normal               Diabetes
22    Hipertensão grau 2               Diabetes
23    Hipertensão grau 1           Pré-diabetes
24    Hipertensão grau 2               Diabetes
26    Hipertensão grau 1               Diabetes
27        Pressão normal               Diabetes
28    Hipertensão grau 2               Diabetes
29    Hipertensão grau 2               Diabetes
30        Pressão normal               Diabetes
31       Pressão elevada               Diabetes
33    Hipertensão grau 2               Diabetes
34    Hipertensão grau 2                 Normal
35    Hipertensão grau 2               Diabetes
36    Hipertensão grau 2                 Normal
38    Hipertensão grau 2               Diabetes
39    Hipertensão grau 2                 Normal

In [ ]:
import pandas as pd

# -------------------------
# FUNÇÃO DE CLASSIFICAÇÃO DE RISCO
# -------------------------

def calcular_score_risco(row):
    score = 0

    if "Hipertensão" in row["Classificarao_Pressao"]:
        score += 2

    if row["Classificacao_Glicemia"] == "Diabetes":
        score += 2

    if row["IMC_classificacao"] == "Obesidade":
        score += 1

    if row["Fumante"] == "Sim":
        score += 1

    return score


def classificar_faixa(score):
    if score >= 4:
        return "Alto risco"
    elif score >= 2:
        return "Médio risco"
    else:
        return "Baixo risco"


# -------------------------
# APLICAÇÃO
# -------------------------

db["Score_Risco"] = db.apply(calcular_score_risco, axis=1)
db["Faixa_Risco"] = db["Score_Risco"].apply(classificar_faixa)

# -------------------------
# ESTATÍSTICAS GERAIS
# -------------------------

total_pacientes = len(db)
media_idade = db["Idade"].mean()
percent_fumantes = (db["Fumante"] == "Sim").mean() * 100

distribuicao_risco = db["Faixa_Risco"].value_counts()

# -------------------------
# PACIENTES PRIORITÁRIOS
# -------------------------

pacientes_prioritarios = db[db["Faixa_Risco"] == "Alto risco"] \
    .sort_values(by="Score_Risco", ascending=False)

# -------------------------
# GERAR RELATÓRIO TXT
# -------------------------

with open("relatorio_pratica_10.txt", "w", encoding="utf-8") as f:

    f.write("RELATÓRIO DE TRIAGEM DE PACIENTES\n")
    f.write("="*40 + "\n\n")

    # Estatísticas gerais
    f.write("ESTATÍSTICAS GERAIS\n")
    f.write("-"*25 + "\n")
    f.write(f"Total de pacientes: {total_pacientes}\n")
    f.write(f"Média de idade: {media_idade:.1f} anos\n")
    f.write(f"Percentual de fumantes: {percent_fumantes:.1f}%\n\n")

    # Classificação por risco
    f.write("CLASSIFICAÇÃO POR FAIXA DE RISCO\n")
    f.write("-"*35 + "\n")
    for faixa, qtd in distribuicao_risco.items():
        f.write(f"{faixa}: {qtd} pacientes\n")

    f.write("\n")

    # Lista de prioritários
    f.write("PACIENTES PRIORITÁRIOS (ALTO RISCO)\n")
    f.write("-"*40 + "\n")

    if pacientes_prioritarios.empty:
        f.write("Nenhum paciente classificado como alto risco.\n")
    else:
        for _, row in pacientes_prioritarios.iterrows():
            f.write(
                f"ID: {row['ID']} | Nome: {row['Nome']} | "
                f"Idade: {row['Idade']} | Score: {row['Score_Risco']}\n"
            )

print("Relatório gerado com sucesso: triagem_pacientes.txt")