# Prática 07 – Sistema de Biblioteca

## Objetivo
Praticar manipulação de strings, operações com listas e dicionários, e compreensões para gestão de acervo.

## Dataset
`datasets/biblioteca_livros.csv`

**Colunas:** ISBN, Titulo, Autor, Genero, Ano_Publicacao, Paginas, Disponivel, Emprestimos

## Referências do Curso
- **Notebook:** `Programacao_Intensiva_Ciencia_de_Dados.ipynb`
  - Seção 1.2 – Estruturas de Dados Fundamentais (listas, dicionários)
  - Seção 1.4 – Compreensões e Programação Funcional (list e dict comprehension)
  - Seção 1.6 – Manipulação de Arquivos (leitura de CSV e escrita de relatórios)
- **Documentação:** `documentacao_completa.md`
  - Seção 2.2 – Listas e Dicionários (operações, iteração)
  - Seção 4.2 – Transformações Avançadas (operações com strings)

## Tarefas

### Nível Básico
1. Ler o CSV e organizar os livros em uma lista de dicionários
2. Contar quantos livros estão disponíveis e quantos emprestados
3. Encontrar o livro mais antigo e o mais recente
4. Calcular o total de empréstimos de todos os livros

In [1]:
import pandas as pd


db = pd.read_csv("datasets/biblioteca_livros.csv")
db.head()

,ISBN,Titulo,Autor,Genero,Ano_Publicacao,Paginas,Disponivel,Emprestimos
0,978-19-3255-642-5,Dom Casmurro,Machado de Assis,Romance,1951,401,Nao,15
1,978-24-1424-853-2,Memorias Postumas de Bras Cubas,Machado de Assis,Romance,1977,610,Nao,35
2,978-25-5288-893-4,Grande Sertao: Veredas,Guimaraes Rosa,Romance,1964,299,Nao,44
3,978-72-4279-225-2,O Cortico,Aluisio Azevedo,Romance,1868,542,Sim,45
4,978-66-2438-929-5,Capitaes da Areia,Jorge Amado,Romance,2020,435,Sim,35

In [7]:
db["Disponivel"].value_counts()

Disponivel
Nao    19
Sim    16
Name: count, dtype: int64

In [13]:
db[db["Ano_Publicacao"] == db["Ano_Publicacao"].min()]
db[db["Ano_Publicacao"] == db["Ano_Publicacao"].max()]

,ISBN,Titulo,Autor,Genero,Ano_Publicacao,Paginas,Disponivel,Emprestimos
4,978-66-2438-929-5,Capitaes da Areia,Jorge Amado,Romance,2020,435,Sim,35

In [14]:
db["Emprestimos"].sum()

np.int64(870)

### Nível Intermediário
5. Criar um dicionário {autor: [lista_de_livros]} agrupando livros por autor
6. Usando list comprehension, listar livros com mais de 300 páginas que estão disponíveis
7. Buscar livros cujo título contém uma palavra específica (case insensitive) usando compreensão
8. Calcular a média de páginas por gênero

In [ ]:
autores_db = db[["Autor", "Titulo"]].sort_values("Autor", ascending=False)

In [46]:
dicionario_autores = {}
for autor, livro in zip(autores_db["Autor"], autores_db["Titulo"]):
    if autor not in dicionario_autores:
        dicionario_autores[autor] = []
    dicionario_autores[autor].append(livro)

print(dicionario_autores)

{'Aluisio Azevedo': ['O Cortico'], 'Anne Frank': ['O Diario de Anne Frank'], 'Antoine de Saint-Exupery': ['O Pequeno Principe'], 'C.S. Lewis': ['As Cronicas de Narnia'], 'Charles Duhigg': ['O Poder do Habito'], 'Clarice Lispector': ['A Hora da Estrela'], 'Emily Bronte': ['O Morro dos Ventos Uivantes'], 'Erico Verissimo': ['Olhai os Lirios do Campo', 'O Tempo e o Vento'], 'F. Scott Fitzgerald': ['O Grande Gatsby'], 'Fiodor Dostoievski': ['Crime e Castigo'], 'Frank Herbert': ['Duna'], 'Franz Kafka': ['A Metamorfose'], 'Gabriel Garcia Marquez': ['Cem Anos de Solidao'], 'George Orwell': ['1984', 'A Revolucao dos Bichos'], 'Graciliano Ramos': ['Vidas Secas'], 'Guimaraes Rosa': ['Grande Sertao: Veredas'], 'J.D. Salinger': ['O Apanhador no Campo de Centeio'], 'J.K. Rowling': ['Harry Potter e a Pedra Filosofal'], 'J.R.R. Tolkien': ['O Senhor dos Aneis'], 'Jane Austen': ['Orgulho e Preconceito'], 'Jorge Amado': ['Capitaes da Areia'], 'Jose Saramago': ['Ensaio Sobre a Cegueira'], 'Jose de Alencar': ['Iracema'], 'Machado de Assis': ['Memorias Postumas de Bras Cubas', 'Dom Casmurro'], 'Mario de Andrade': ['Macunaima'], 'Markus Zusak': ['A Menina que Roubava Livros'], 'Maya Angelou': ['Eu Sei Por Que o Passaro Canta na Gaiola'], 'Paulo Coelho': ['O Alquimista'], 'Robert Kiyosaki': ['Pai Rico Pai Pobre'], 'Stephen Hawking': ['Breve Historia do Tempo'], 'Sun Tzu': ['A Arte da Guerra'], 'Yuval Noah Harari': ['Sapiens']}

In [59]:
db_pag = db[db["Paginas"] > 300][["Titulo", "Paginas", "Disponivel"]].sort_values("Paginas", ascending=False)
db_pag[db_pag["Disponivel"] == "Sim"]

                              Titulo  Paginas Disponivel
15  Harry Potter e a Pedra Filosofal      746        Sim
7                       O Alquimista      706        Sim
10                 O Tempo e o Vento      594        Sim
13                              1984      594        Sim
6                  A Hora da Estrela      585        Sim
18             Orgulho e Preconceito      555        Sim
17                   Crime e Castigo      544        Sim
3                          O Cortico      542        Sim
30            O Diario de Anne Frank      491        Sim
19                   O Grande Gatsby      488        Sim
4                  Capitaes da Areia      435        Sim
14                O Senhor dos Aneis      425        Sim
34           Ensaio Sobre a Cegueira      419        Sim
11          Olhai os Lirios do Campo      410        Sim
32             As Cronicas de Narnia      406        Sim

In [61]:
palavra = "casmurro"

resultado = db[db["Titulo"].str.contains(palavra, case=False, na=False)]
resultado

,ISBN,Titulo,Autor,Genero,Ano_Publicacao,Paginas,Disponivel,Emprestimos
0,978-19-3255-642-5,Dom Casmurro,Machado de Assis,Romance,1951,401,Nao,15

In [62]:
db.groupby("Genero")["Paginas"].mean()

Genero
Autoajuda            768.000000
Autobiografia        611.000000
Biografia            491.000000
Ciencia              300.000000
Estrategia           132.000000
Fabula               722.000000
Fantasia             525.666667
Ficcao               516.500000
Ficcao Cientifica    597.500000
Financas             217.000000
Nao Ficcao           395.000000
Realismo Magico      281.000000
Romance              462.833333
Satira               671.000000
Name: Paginas, dtype: float64

### Nível Avançado
9. Identificar os 5 livros mais emprestados (mais populares)
10. Criar uma função `recomendar_livro(dados, genero_favorito, max_paginas=500)` que recomende livros disponíveis baseado em preferências
11. Implementar busca parcial por autor e título usando operações de string (lower, find, in)
12. Gerar um relatório `acervo_biblioteca.txt` com: total de livros, livros por gênero, autores mais presentes, livros mais populares

In [72]:
db.sort_values("Emprestimos", ascending=False)[:5]

,ISBN,Titulo,Autor,Genero,Ano_Publicacao,Paginas,Disponivel,Emprestimos
15,978-20-1744-756-9,Harry Potter e a Pedra Filosofal,J.K. Rowling,Fantasia,1917,746,Sim,49
19,978-87-3353-420-5,O Grande Gatsby,F. Scott Fitzgerald,Romance,1938,488,Sim,48
26,978-78-1133-967-1,Pai Rico Pai Pobre,Robert Kiyosaki,Financas,1960,217,Nao,46
33,978-88-5902-707-5,Duna,Frank Herbert,Ficcao Cientifica,1979,601,Nao,45
3,978-72-4279-225-2,O Cortico,Aluisio Azevedo,Romance,1868,542,Sim,45

In [ ]:
from pandas import DataFrame


def recomendar_livro(dados: DataFrame, genero_favorito: str, max_paginas: int=500):
    recomendacoes = dados[
        (dados["Genero"].str.contains(genero_favorito, case=False, na=False)) &
        (dados["Paginas"] <= max_paginas) &
        (dados["Disponivel"] == "Sim")
    ]
    return recomendacoes[["Titulo", "Autor", "Genero", "Paginas"]]


recomendar_livro(db, "Romance", max_paginas=500)

                      Titulo                Autor   Genero  Paginas
4          Capitaes da Areia          Jorge Amado  Romance      435
11  Olhai os Lirios do Campo      Erico Verissimo  Romance      410
19           O Grande Gatsby  F. Scott Fitzgerald  Romance      488
34   Ensaio Sobre a Cegueira        Jose Saramago  Romance      419

In [80]:
def gerar_relatorio_acervo(dados, nome_arquivo="relatorio_pratica_07.txt"):
    total_livros = len(dados)

    livros_por_genero = dados["Genero"].value_counts()
    autores_mais_presentes = dados["Autor"].value_counts()
    livros_mais_populares = dados.sort_values(by="Emprestimos", ascending=False)[
        ["Titulo", "Autor", "Emprestimos"]
    ]

    with open(nome_arquivo, "w", encoding="utf-8") as f:
        f.write("===== RELATÓRIO DO ACERVO DA BIBLIOTECA =====\n\n")


        f.write(f"Total de livros no acervo: {total_livros}\n\n")
        f.write("Livros por gênero:\n")
        for genero, qtd in livros_por_genero.items():
            f.write(f" - {genero}: {qtd}\n")
        f.write("\n")
        f.write("Autores mais presentes:\n")
        for autor, qtd in autores_mais_presentes.items():
            f.write(f" - {autor}: {qtd} livro(s)\n")
        f.write("\n")
        f.write("Livros mais populares (por número de empréstimos):\n")
        for _, row in livros_mais_populares.iterrows():
            f.write(
                f" - {row['Titulo']} | {row['Autor']} | Empréstimos: {row['Emprestimos']}\n"
            )

    print(f"Relatório '{nome_arquivo}' gerado com sucesso!")



gerar_relatorio_acervo(db)

Relatório 'relatorio_pratica_07.txt' gerado com sucesso!