# Prática 06 – Vendas de Cafeteria

## Objetivo
Praticar map, filter, reduce, lambda e operações com listas para análise de vendas.

## Dataset
`datasets/vendas_cafeteria.csv`

**Colunas:** Data, Produto, Categoria, Quantidade, Preco_Unitario, Forma_Pagamento, Turno

## Referências do Curso
- **Notebook:** `Programacao_Intensiva_Ciencia_de_Dados.ipynb`
  - Seção 1.4 – Compreensões e Programação Funcional (lambda, map, filter, reduce)
  - Seção 1.1 – Tipos de Dados e Operações Básicas (operações aritméticas)
  - Seção 1.5 – Funções Avançadas (funções com argumentos padrão)
- **Documentação:** `documentacao_completa.md`
  - Seção 2.4 – Programação Funcional (map, filter, reduce com exemplos)
  - Seção 2.3 – Funções Lambda

## Tarefas

### Nível Básico
1. Ler o CSV e armazenar os dados em uma lista de dicionários
2. Calcular o faturamento de cada venda (quantidade × preço_unitário) e adicionar como nova chave
3. Calcular o faturamento total da cafeteria
4. Listar todos os produtos vendidos e a quantidade total de cada um

In [1]:
import pandas as pd

db = pd.read_csv("datasets/vendas_cafeteria.csv")
db.head()

,Data,Produto,Categoria,Quantidade,Preco_Unitario,Forma_Pagamento,Turno
0,2025-02-27,Brownie,Sobremesas,6,8.42,Pix,Manha
1,2025-01-08,Sanduiche Natural,Lanches,6,14.88,Dinheiro,Noite
2,2025-03-24,Cafe Expresso,Bebidas,4,6.27,Cartao,Noite
3,2025-03-08,Brownie,Sobremesas,6,7.49,Cartao,Tarde
4,2025-02-22,Misto Quente,Lanches,1,9.16,Pix,Tarde

In [2]:
db["Valor_da_Venda"] = db["Quantidade"] * db["Preco_Unitario"]

db["Valor_da_Venda"].sum()

np.float64(2167.13)

In [14]:
total_por_produto = (
    db.groupby("Produto")["Quantidade"]
      .sum()
      .reset_index()
      .sort_values(by="Quantidade", ascending=False)
)

print(total_por_produto)

              Produto  Quantidade
13  Sanduiche Natural          43
4      Cafe com Leite          32
10       Misto Quente          28
14       Suco Natural          27
5          Cappuccino          24
12              Pudim          23
2             Brownie          18
6    Chocolate Quente          14
8             Coxinha          13
3       Cafe Expresso          11
7              Cookie          10
11      Pao de Queijo          10
1     Bolo de Cenoura           9
9              Empada           6
0        Agua Mineral           1

### Nível Intermediário
5. Usar `lambda` com `map` para calcular o faturamento de cada linha (como lista)
6. Usar `filter` com `lambda` para encontrar todas as vendas do turno da manhã com valor acima de R$20
7. Usar `reduce` para somar todo o faturamento (sem usar sum())
8. Criar uma função `resumo_turno(dados, turno)` que retorne total de vendas, faturamento e ticket médio

In [ ]:
venda_manha = db[
    (db["Turno"] == "Manha") &
    (db["Valor_da_Venda"] > 20)
]

print(venda_manha)

          Data            Produto   Categoria  Quantidade  Preco_Unitario  \
0   2025-02-27            Brownie  Sobremesas           6            8.42
6   2025-03-26            Brownie  Sobremesas           6            6.33
10  2025-02-09         Cappuccino     Bebidas           6           11.74
15  2025-01-31       Misto Quente     Lanches           5            9.01
25  2025-01-18              Pudim  Sobremesas           8            7.96
27  2025-03-09  Sanduiche Natural     Lanches           5            9.66
29  2025-03-10     Cafe com Leite     Bebidas           9            7.01
32  2025-03-11             Cookie  Sobremesas           9            3.56
33  2025-03-23            Coxinha     Lanches           5            6.24
35  2025-01-18       Suco Natural     Bebidas           9            7.35
37  2025-02-28       Suco Natural     Bebidas           4            6.18
42  2025-03-08  Sanduiche Natural     Lanches           7            8.55
47  2025-01-21         Cappuccino     Bebidas          10           10.39
48  2025-01-17         Cappuccino     Bebidas           6            8.81

   Forma_Pagamento  Turno  Valor_da_Venda
0              Pix  Manha           50.52
6              Pix  Manha           37.98
10          Cartao  Manha           70.44
15          Cartao  Manha           45.05
25        Dinheiro  Manha           63.68
27        Dinheiro  Manha           48.30
29             Pix  Manha           63.09
32          Cartao  Manha           32.04
33          Cartao  Manha           31.20
35             Pix  Manha           66.15
37        Dinheiro  Manha           24.72
42             Pix  Manha           59.85
47          Cartao  Manha          103.90
48             Pix  Manha           52.86

In [28]:
from pandas import DataFrame


def resumo_turno(dados, turno):

    # Filtrar turno
    db_turno = dados[dados["Turno"] == turno].copy()

    if db_turno.empty:
        return {
            "turno": turno,
            "total_vendas": 0,
            "faturamento": 0,
            "ticket_medio": 0
        }



    total_vendas = len(db_turno)
    faturamento = db_turno["Valor_da_Venda"].sum()
    ticket_medio = faturamento / total_vendas if total_vendas > 0 else 0

    return {
        "turno": turno,
        "total_vendas": total_vendas,
        "faturamento": round(faturamento, 2),
        "ticket_medio": round(ticket_medio, 2)
    }
relatorio_turno = resumo_turno(db, "Manha")

print(relatorio_turno)

{'turno': 'Manha', 'total_vendas': 16, 'faturamento': np.float64(758.56), 'ticket_medio': np.float64(47.41)}

### Nível Avançado
9. Combinar `map` e `filter`: primeiro filtrar vendas de "Bebidas", depois calcular o faturamento de cada uma
10. Encontrar a forma de pagamento mais utilizada e o turno mais lucrativo
11. Criar uma função que calcule a receita por dia e identifique o dia com maior e menor faturamento
12. Gerar um arquivo `relatorio_cafeteria.txt` com resumo por turno, por produto e por forma de pagamento

In [33]:
db[db["Categoria"] == "Bebidas"].groupby("Produto")["Valor_da_Venda"].sum().reset_index()

            Produto  Valor_da_Venda
0      Agua Mineral            3.29
1     Cafe Expresso           62.95
2    Cafe com Leite          235.41
3        Cappuccino          244.16
4  Chocolate Quente          111.75
5      Suco Natural          210.37

In [38]:
db["Forma_Pagamento"].value_counts()

Forma_Pagamento
Cartao      18
Pix         17
Dinheiro    15
Name: count, dtype: int64

In [36]:
db.groupby("Turno")["Valor_da_Venda"].sum().reset_index().max()

Turno              Tarde
Valor_da_Venda    774.75
dtype: object

In [40]:


def receita_por_dia(dados: DataFrame)-> dict:

    db_receita_por_dia = dados.copy()

    # Garantir que a coluna Data é datetime
    db_receita_por_dia["Data"] = pd.to_datetime(db_receita_por_dia["Data"])


    # Agrupar por dia
    receita_diaria = (
        db_receita_por_dia.groupby("Data")["Valor_da_Venda"]
          .sum()
          .reset_index()
          .sort_values("Data")
    )

    # Encontrar maior e menor faturamento
    dia_maior = receita_diaria.loc[receita_diaria["Valor_da_Venda"].idxmax()]
    dia_menor = receita_diaria.loc[receita_diaria["Valor_da_Venda"].idxmin()]

    return {
        "receita_diaria": receita_diaria,
        "dia_maior_faturamento": {
            "data": dia_maior["Data"],
            "valor": round(dia_maior["Valor_da_Venda"], 2)
        },
        "dia_menor_faturamento": {
            "data": dia_menor["Data"],
            "valor": round(dia_menor["Valor_da_Venda"], 2)
        }
    }

relatorio_receita = receita_por_dia(db)
print(relatorio_receita)

{'receita_diaria':          Data  Valor_da_Venda
0  2025-01-07           46.32
1  2025-01-08           89.28
2  2025-01-09          114.75
3  2025-01-17           52.86
4  2025-01-18          129.83
5  2025-01-21          103.90
6  2025-01-22            7.14
7  2025-01-24           80.10
8  2025-01-29           16.96
9  2025-01-31           95.05
10 2025-02-02           60.16
11 2025-02-07          104.70
12 2025-02-09          117.13
13 2025-02-10           69.72
14 2025-02-12           66.36
15 2025-02-14           37.56
16 2025-02-19           24.44
17 2025-02-22            9.16
18 2025-02-26           16.47
19 2025-02-27           93.42
20 2025-02-28           24.72
21 2025-03-07           51.59
22 2025-03-08          122.89
23 2025-03-09          117.76
24 2025-03-10          140.05
25 2025-03-11           46.01
26 2025-03-13           18.03
27 2025-03-18           11.85
28 2025-03-19           66.56
29 2025-03-23           69.07
30 2025-03-24           25.08
31 2025-03-25           10.80
32 2025-03-26           37.98
33 2025-03-28           68.64
34 2025-03-29           20.79, 'dia_maior_faturamento': {'data': Timestamp('2025-03-10 00:00:00'), 'valor': np.float64(140.05)}, 'dia_menor_faturamento': {'data': Timestamp('2025-01-22 00:00:00'), 'valor': np.float64(7.14)}}

In [44]:


def gerar_relatorio_cafeteria(dados, nome_arquivo="relatorio_pratica_6.txt"):

    df = dados.copy()
    df["Data"] = pd.to_datetime(df["Data"])


    resumo_turno = (
        df.groupby("Turno")
          .agg(
              total_vendas=("Valor_da_Venda", "count"),
              faturamento_total=("Valor_da_Venda", "sum")
          )
          .reset_index()
    )


    resumo_produto = (
        df.groupby("Produto")
          .agg(
              quantidade_total=("Quantidade", "sum"),
              faturamento_total=("Valor_da_Venda", "sum")
          )
          .reset_index()
    )


    resumo_pagamento = (
        df.groupby("Forma_Pagamento")
          .agg(
              total_vendas=("Valor_da_Venda", "count"),
              faturamento_total=("Valor_da_Venda", "sum")
          )
          .reset_index()
    )


    texto = "# RELATÓRIO CAFETERIA\n\n"

    texto += "## Resumo por Turno\n"
    texto += resumo_turno.to_string(index=False)
    texto += "\n\n"

    texto += "## Resumo por Produto\n"
    texto += resumo_produto.to_string(index=False)
    texto += "\n\n"

    texto += "## Resumo por Forma de Pagamento\n"
    texto += resumo_pagamento.to_string(index=False)
    texto += "\n"


    with open(nome_arquivo, "w", encoding="utf-8") as f:

        f.write("RELATÓRIO CAFETERIA\n")
        f.write("=" * 40 + "\n\n")

        f.write("Resumo por Turno\n")
        f.write("-" * 40 + "\n")
        f.write(resumo_turno.to_string(index=False))
        f.write("\n\n")

        f.write("Resumo por Produto\n")
        f.write("-" * 40 + "\n")
        f.write(resumo_produto.to_string(index=False))
        f.write("\n\n")

        f.write("Resumo por Forma de Pagamento\n")
        f.write("-" * 40 + "\n")
        f.write(resumo_pagamento.to_string(index=False))
        f.write("\n")
    print(f"Arquivo '{nome_arquivo}' gerado com sucesso!")

    return nome_arquivo


gerar_relatorio_cafeteria(db)

Arquivo 'relatorio_pratica_6.txt' gerado com sucesso!

'relatorio_pratica_6.txt'